.signup
  .signup-header
    .logo
      .signup_head-logo
        =link_to root_path do
          = image_tag "fmarket_logo_red.svg",  size: "185x49"
          
        .signup-bar
          %ol.signup-lists
            %li.signup-list
              会員情報
              .list-round-left.list-active-left
            %li.signup-list.active-title
              電話番号認証
              .list-round.list-active-a
            %li.signup-list
              お届け先住所入力
              .list-round
            %li.signup-list
              支払い方法
              .list-round
            %li.signup-list
              完了
              .list-round-right
.signup-main
  .main-contents
    .main-contents-title 電話番号認証
    .form-group
    = form_for @user, url: "user2_signups_path", method: :post do |f|
      .form-group
        %label.form-label 認証番号
        = f.text_field :nickname, placeholder: '認証番号を入力', class:'input-box'

        %p SMSで届いた認証番号を入力してください。
        

      .form-group
        = f.submit "認証して完了", class: 'sms-button'
        .form-group
    = form_for @user, url: "user2_signups_path", method: :post do |f|
      .form-group#a
        %label.form-label 認証番号
        = f.text_field :nickname, placeholder: '認証番号を入力', class:'input-box'

        %p SMSで届いた認証番号を入力してください。
        

      .form-group
        = f.submit "認証して完了", class: 'sms-button'
        
  = render 'signup_footer'