.like-link{id: "like-link-#{product.id}"}
  - if user_signed_in?
    - if current_user.likes.find_by(product_id: product.id)
      = link_to unlike_path(product.id), method: :delete, remote: true, class: "product-show-goodlink-red" do
        = fa_icon 'heart',class: 'product-show-goodicon'
        .product-show-goodtext
          いいね! #{product.likes.count}
    - else
      = link_to like_path(product.id), method: :post, remote: true, class: "product-show-goodlink" do
        = fa_icon 'heart-o',class: 'product-show-goodicon'
        .product-show-goodtext
          いいね! #{product.likes.count}
  - else
    = link_to new_user_session_path, class: "product-show-goodlink" do
      = fa_icon 'heart-o',class: 'product-show-goodicon'
      .product-show-goodtext
        いいね! #{product.likes.count}