#my-notification-content
  .list
    =link_to "", class: "tab-contents__notification link" do
      = image_tag "merkari-icon.png", class: "mercari-icon", size: "48x48"
      .notification-body
        .notification-body__title
          《速報》今なら販売手数料が実質無料！出品が超お得♪
        .notification-body__time
          = fa_icon 'clock-o', class: "clock-icon"
          %span 5時間前
      = fa_icon 'chevron-right', class: "right-icon"
  .list
    =link_to "", class: "tab-contents__notification link" do
      = image_tag "merkari-icon.png", class: "mercari-icon", size: "48x48"
      .notification-body
        .notification-body__title
          《速報》今なら販売手数料が実質無料！出品が超お得♪
        .notification-body__time
          = fa_icon 'clock-o', class: "clock-icon"
          %span 5時間前
      = fa_icon 'chevron-right', class: "right-icon"
  .list
    =link_to "", class: "tab-contents__notification link" do
      = image_tag "merkari-icon.png", class: "mercari-icon", size: "48x48"
      .notification-body
        .notification-body__title
          《速報》今なら販売手数料が実質無料！出品が超お得♪
        .notification-body__time
          = fa_icon 'clock-o', class: "clock-icon"
          %span ５時間前
      = fa_icon 'chevron-right', class: "right-icon"
  .list
    =link_to "", class: "tab-contents__notification link" do
      = image_tag "merkari-icon.png", class: "mercari-icon", size: "48x48"
      .notification-body
        .notification-body__title
          《速報》今なら販売手数料が実質無料！出品が超お得♪
        .notification-body__time
          = fa_icon 'clock-o', class: "clock-icon"
          %span ５時間前
      = fa_icon 'chevron-right', class: "right-icon"
  .list
    =link_to "", class: "tab-contents__notification link" do
      = image_tag "merkari-icon.png", class: "mercari-icon", size: "48x48"
      .notification-body
        .notification-body__title
          《速報》今なら販売手数料が実質無料！出品が超お得♪
        .notification-body__time
          = fa_icon 'clock-o', class: "clock-icon"
          %span ５時間前
      = fa_icon 'chevron-right', class: "right-icon"
.list-display
  =link_to "", class: "link" do
    .list-display__btn
      一覧を見る

