.header
  = render 'layouts/header'

.pankuzu-nav
  = render 'nav'

.mypage
  .mypage__container
    = render 'side-bar'


= render 'layouts/sell-btn'

.app-banner
  = render 'layouts/banner'
.footer
  = render 'layouts/footer'