.header
  = render 'layouts/header'

.product-index_contents
  .product-index_contents__main
    .top-banner-slider
      %div
        = image_tag "sample1.jpg", class: "top-banner-slider-camp-image"
      %div
        = image_tag "sample2.png", class: "top-banner-slider-main-image"
      %div
        = image_tag "sample3.png", class: "top-banner-slider-super-image"

.category-index
  .body_first
    %h2.body-category
      人気のカテゴリー
      %h2.category
        %a.category-first
          レディース
        %a.category-second
          メンズ
        %a.category-third
          家電・スマホ・カメラ
        %a.category-fourth
          おもちゃ・ホビー・グッズ

.product-index_categories
  .item-box
    .item-box-one
      %h3.item_first
        レディース新着アイテム
        = link_to "", class: "item_first_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .item-box-second
      %h3.item_second
        メンズ新着アイテム
        = link_to "", class: "item_second_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .item-box-third
      %h3.item_third
        家電・スマホ・カメラ新着アイテム
        = link_to "", class: "item_third_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .item-box-fourth
      %h3.item_fourth
        おもちゃ・ホビー・グッズ新着アイテム
        = link_to "", class: "item_fourth_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five

.brand-index
  .body_second
    %h2.body-brand
      人気のブランド
    %h2.brand
      %a.brand-first
        シャネル
      %a.brand-second
        ルイヴィトン
      %a.brand-third
        シュプリーム
      %a.brand-fourth
        ナイキ
  .brand-box
    .brand-box-one
      %h3.brands-first
        シャネル新着アイテム 
        = link_to "", class: "brands_first_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .brand-box-second
      %h3.brands-second
        ルイヴィトン新着アイテム
        = link_to "", class: "brands_second_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .brand-box-third
      %h3.brands-third
        シュプリーム新着アイテム
        = link_to "", class: "brands_third_preview" do
          もっと見る
        .item-category-box
          .item-category-box-one
          .item-category-box-two
          .item-category-box-three
          .item-category-box-four
          .item-category-box-five
    .brand-box-fourth
      %h3.brands-fourth
        ナイキ新着アイテム
        = link_to "", class: "brand_fourth_preview" do
          もっと見る
          .item-category-box
            .item-category-box-one
            .item-category-box-two
            .item-category-box-three
            .item-category-box-four
            .item-category-box-five

-# バナー部分
.app-banner
  = render 'layouts/banner'

-# フッター部分
.footer
  = render 'layouts/footer'