!!!
%html{:lang => "ja-JP"}
  %body

  -# ヘッダー部分

-# スタイダー
.product-index_contents
  .product-index_contents__main
    .top-banner-slider
      %div
        = image_tag "mercari_icon.png", class: "top-banner-slider-camp-image"
      %div
        = image_tag "mercari_icon.png", class: "top-banner-slider-main-image"
      %div
        = image_tag "mercari_icon.png", class: "top-banner-slider-super-image"

-# カテゴリー
.toppage-index
  .body_first
    %h2.body-category 
      人気のカテゴリー
      %h2.category
        %a.category-first 
          レディース
        %a.category-second
          メンズ
        %a.category-third
          家電・スマホ・カメラ
        %a.category-fourth
          おもちゃ・ホビー・グッズ

.toppages-index_categorys
  .item-box
    .item-box-one
      %h3.item_first 
        レディース新着アイテム
      %a.item_first_preview{:href => "00000"}
        もっと見る
    .item-box-second
      %h3.item_second
        メンズ新着アイテム
      %a.item_first-preview{:href => "00000"}
        もっと見る
    .item-box-third
      %h3.item_third
        家電・スマホ・カメラ新着アイテム
      %a.item_first-preview{:href => "00000"}
        もっと見る
    .item-box-fourth
      %h3.item_fourth
        おもちゃ・ホビー・グッズ新着アイテム
      %a.item_first-preview{:href => "00000"}
        もっと見る
    .category-box_items
      .category-box_grid
        - @popular.reverse_each.with_index(1) do |product, i|
          -if (i <= 10)
            .category-box_product
              = link_to product_path(product), class: "category-box_product_link" do
                .category-box_product-box
                - if (product.buyer_id.blank?)
                  .category-box_product-box__image
                    = image_tag "#{product.images.last.url}", size: "188x188", class: "product-box-img"
                    .category-box_product-box__price
                      = "¥" + "#{product.price}"
                      .category-box_product-box__title
                        .category-box_product-box__title--name
                          = product.name
          - else
            .category-box_product-box__image
              .product_sold-out_badge
                .product_sold-out_badge-text
                  SOLD
                  = image_tag "#{product.images.last.url}", size: "188x188"
                  .category-box_product-box__price
                    = "¥" + "#{product.price}"
                  .category-box_product-box__title
                    .category-box_product-box__title--name
                      = product.name

  .body_second
    %h2.body-brand 
      人気のブランド
      %h2.brand
        %a.brand-first 
          シャネル
        %a.brand-second
          ルイヴィトン
        %a.brand-third
          シュプリーム
        %a.brand-fourth
          ナイキ
  .brand-box
    .brand-box-one
      %h3.brands-first 
        シャネル新着アイテム
      %a.brands-first_preview{:href => "00000"}
        もっと見る
    .brand-box-second
      %h3.brands-second
        ルイヴィトン新着アイテム
      %a.brands-second_preview{:href => "00000"}
        もっと見る
    .brand-box-third
      %h3.brands-third
        シュプリーム新着アイテム
      %a.brands-third_preview{:href => "00000"}
        もっと見る
    .brand-box-fourth
      %h3.brands-fourth
        ナイキ新着アイテム
      %a.brands-fourth_preview{:href => "00000"}
        もっと見る

  .Advertising_under
    .Advertising-box
    %h2.Advertising-fontfirst
      スマホでかんたんフリマアプリ
    %h2.Advertising-fontsecond
      今すぐ無料ダウンロード