.header
  = render 'layouts/header'

.product__index--contents
  .produ__index--contents--main
    .top-banner-slider
      %div
        = image_tag "sample1.jpg", class: "top-banner-slider-camp-image"
      %div
        = image_tag "sample2.png", class: "top-banner-slider-main-image"
      %div
        = image_tag "sample3.png", class: "top-banner-slider-super-image"

.category-index
  .body_first
    %h2.body-category
      人気のカテゴリー
      %h2.category
        %a.category-first
          レディース
        %a.category-second
          メンズ
        %a.category-third
          家電・スマホ・カメラ
        %a.category-fourth
          おもちゃ・ホビー・グッズ

.product__index--categories
  .item__box
    .item__box--one
      %h3.item__first
        レディース新着アイテム
        = link_to "", class: "__preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @ladies_items.each do |ladies_item|
            .category__box--product
              = link_to toppage_path(ladies_item.id), class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{ladies_item.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{ladies_item.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{ladies_item.name}
    .item-box-second
      %h3.item_second
        メンズ新着アイテム
        = link_to "", class: "item_second_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @mens_items.each do |mens_item|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{mens_item.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{mens_item.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{mens_item.name}
    .item-box-third
      %h3.item_third
        家電・スマホ・カメラ新着アイテム
        = link_to "", class: "item_third_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @electro_items.each do |electro_item|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{electro_item.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{electro_item.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{electro_item.name}
    .item-box-fourth
      %h3.item_fourth
        おもちゃ・ホビー・グッズ新着アイテム
        = link_to "", class: "item_fourth_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @toy_items.each do |toy_item|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{toy_item.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{toy_item.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{toy_item.name}
.brand-index
  .body_second
    %h2.body-brand
      人気のブランド
    %h2.brand
      %a.brand-first
        シャネル
      %a.brand-second
        ルイヴィトン
      %a.brand-third
        シュプリーム
      %a.brand-fourth
        ナイキ
  .brand-box
    .brand-box-one
      %h3.brands-first
        シャネル新着アイテム 
        = link_to "", class: "brands_first_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @chanel_brands.each do |chanel_brand|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{chanel_brand.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{chanel_brand.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{chanel_brand.name}
    .brand-box-second
      %h3.brands-second
        ルイヴィトン新着アイテム
        = link_to "", class: "brands_second_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @louis_brands.each do |louis_brand|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{louis_brand.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{louis_brand.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{louis_brand.name}
    .brand-box-third
      %h3.brands-third
        シュプリーム新着アイテム
        = link_to "", class: "brands_third_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          .category__box--product
            = link_to "", class: "category__box--product_link" do
              .category__box--product-box
                .category__box--product-box__image
                  = image_tag "https://image.shutterstock.com/image-vector/mens-womans-clothes-on-hangers-260nw-753919063.jpg", size: "188x188"
                  .category__box--product-box__price
                    ¥1,000
                .category__box--product-box__title
                  .category__box--product-box__title--name
                    商品名1
    .brand-box-fourth
      %h3.brands-fourth
        ナイキ新着アイテム
        = link_to "", class: "brands_fourth_preview" do
          もっと見る
          = fa_icon "chevron-right", class: "preview-link-right"
      .category-box_items
        .category-box_grid
          - @nike_brands.each do |nike_brand|
            .category__box--product
              = link_to "", class: "category__box--product_link" do
                .category__box--product-box
                  .category__box--product-box__image
                    = image_tag "#{nike_brand.images[0].url}", size: "188x188"
                    .category__box--product-box__price
                      ¥ #{nike_brand.price.to_s(:delimited)}
                  .category__box--product-box__title
                    .category__box--product-box__title--name
                      #{nike_brand.name}
.app-banner
  = render 'layouts/banner'
.footer
  = render 'layouts/footer'
.display-btn
  = render "layouts/display_btn"