- breadcrumb :"categories/index"

-# .header
-#   = render 'layouts/header'

-# = render 'layouts/nav'

.category-index_contents
  .category-index_conteiner
    .category-index_conteiner_title
      カテゴリー一覧
    .category-index_parent-list
      - @parents.each.with_index(1) do |parent, i|
        = link_to "#parent-box-#{i}", class:"category-index_parent-link" do
          .category-index_parent-name
            = parent.name
    .category-index_list-box.clearfix
      - @parents.each.with_index(1) do |parent, i|
        %div{id: "parent-box-#{i}", class: "category-index_individual-box clearfix"}
          .category-index_list-box_parent-name.clearfix
            %h3.root-category-name
              = parent.name 
          .category-index_individual-box_children-box
            .category_inner-box_all
              = link_to "すべて", "/categories/#{parent.id}", class: "category_inner-box_all-link"
            - parent.children.each do |child, t|
              .category_inner-box_children-name.clearfix
                = child.name
              .category_inner-box_grandchildren-box
                .category_inner-box_grandchildren-name
                  = link_to "すべて", "/categories/#{child.id}", class: "category_inner-box_grandchildren-name-link"
                - child.children.each do |grandchild, s|
                  .category_inner-box_grandchildren-name
                    = link_to "#{grandchild.name}", "/categories/#{grandchild.id}", class: "category_inner-box_grandchildren-name-link"
                
-# .app-banner
-#   = render 'layouts/banner'
    
-# .footer
-#   = render 'layouts/footer'

-# .display-btn
-#   = render "layouts/display_btn"

  