.footer-contents
  .footer-contents__item
    .footer-contents__title
      メルカリについて
    .footer-contents__lists
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          会社概要（運営会社）
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          採用情報
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          プレスリリース
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          公式ブログ
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          メルカリロゴ利用ガイドライン
      .footer-contents__lists__icon
        = link_to "", class: "footer-list-detail.footer-icon" do
          = fa_icon 'twitter',class: 'footer-icon--twitter'
      .footer-contents__lists__icon
        = link_to "", class: "footer-list-detail.footer-icon" do
          = fa_icon 'facebook-square',class: 'footer-icon--facebook'

  .footer-contents__item
    .footer-contents__title
      ヘルプ&ガイド
    .footer-contents__lists
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          メルカリガイド
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          らくらくメルカリ便
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          ゆうゆうメルカリ便
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          大型メルカリ便
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          車体取引ガイド
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          メルカリあんしん・あんぜん宣言！
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          偽ブランド品撲滅への取り組み
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          メルカリボックス

  .footer-contents__item.privacy-service-item
    .footer-contents__title
      プライバシーと利用規約
    .footer-contents__lists.privacy-service
      .privacy-service__privacy
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            プライバシーポリシー
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            メルカリ利用規約
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            あんしんスマホサポート制度に関する利用特約
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            コンプライアンスポリシー
      .privacy-service__privacy.privacy-service__service
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            個人データの安全管理に係る基本方針
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            特定商取引に関する表記
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            資金決済法に基づく表示
        .footer-contents__lists__list
          = link_to "", class: "footer-list-detail" do
            法令遵守と犯罪抑止のために

  .footer-contents__item
    .footer-contents__title
      国
    .footer-contents__lists
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          日本
      .footer-contents__lists__list
        = link_to "", class: "footer-list-detail" do
          United States
.footer-copyright
  = image_tag "footer_copyright_mercari.svg",class: "footer-copyright__mercari-icon", size: "124x33" 
  .footer-copyright__developer
    © 2019 Mercari