.header-content
  .header-content__image
    = link_to root_path do
      = image_tag "logo.svg", size: "134x36"
  .header-content__search
    = text_field_tag :keyword, '', class: 'search-field', placeholder: '何かお探しですか？'
    = button_tag type: 'submit', class: 'search-icon-box' do
      = fa_icon 'search', class: 'search-icon'
.nav
  .nav-left
    .nav-left__cate
      = link_to categories_path, class:"header_category-list" do
        = fa_icon 'list-ul', class: 'left-nav-btn'
        カテゴリーから探す
      .header_category-nav
        %ul.header_parents-nav
          - @parents.each do |parent|
            %li.header_parent-list{id: "#{parent.id}"}
              = link_to "#{parent.name}", category_path(parent), class: "header_parent-link"
          %li.header_all-list
            = link_to categories_path, class: "header_all-link" do
              カテゴリー一覧

    .nav-left__brand
      = link_to brands_path, class:"header_popular-brand-list" do
        = fa_icon 'tag', class: 'left-nav-btn'
        ブランドから探す
      %ul.header_brands-nav
        - @brands.each do |brand|
          %li.header_brand-list
            = link_to "#{brand.name}", brand_path(brand), class: "header_brand-link"
        %li.header_all-list
          = link_to brands_path, class: "header_all-link" do
            ブランド一覧
  .nav-right
    - if user_signed_in?
      .nav-right__like
        =link_to "", class: "pc-header-menu-link" do
          = fa_icon 'heart-o', class: 'right-nav-btn', id:'right-nav-btn-heart'
          いいね ! 一覧
      .nav-right__info
        =link_to "", class: "pc-header-menu-link" do
          = fa_icon 'bell-o', class: 'right-nav-btn', id:'right-nav-btn-bell'
          お知らせ
      .nav-right__todo
        =link_to "", class: "pc-header-menu-link" do
          = fa_icon 'check', class: 'right-nav-btn', id: 'right-nav-btn-check'
          やることリスト
      .nav-right__mypage
        =link_to "", class: "pc-header-menu-link" do
          = image_tag "member_photo_noimage_thumb.png", class: 'user-circle-btn', size: "32x32"
          マイページ
    - else
      .nav-right__signup
        = link_to "新規会員登録", new_user_registration_path, class: "signup-link"
      .nav-right__login
        = link_to "ログイン", new_user_session_path, class: "login-link"
